<aside>
  <nav id="og-recent-posts">
    <h2>Recent Posts</h2>
    <ol></ol>
  </nav>
</aside>
<aside>
  <nav>
    <h2>Code</h2>
    <ol>
      <li><a href="http://epiceditor.com">EpicEditor</a></li>
      <li><a href="http://html6spec.com">HTML6</a></li>
      <li><a href="http://github.com/OscarGodson/jKey">jKey</a></li>
      <li><a href="http://github.com/OscarGodson/Yodel">Yodel</a></li>
      <li><a href="http://github.com/OscarGodson/Core.js">Core.js</a></li>
      <li><a href="http://github.com/OscarGodson/jQuery-Plugin-Skeleton">jQuery-Plugin-Skeleton</a></li>
    </ol>
  </nav>
</aside>
