<nav>
  <h2>Info</h2>
  <p>
    My name is Oscar Godson (<a href="http://twitter.com/oscargodson">@oscargodson</a>) and I'm a JavaScriptologist. I work as a Senior
    JavaScript Engineer at <a href="http://yammer.com">Yammer</a>. On the side I write for my personal blog or for other blogs such as
    <a href="http://net.tutsplus.com/">Nettuts</a> usually about JavaScript or about web development in general. I've spoken at conferences
    such as <a href="http://oscon.com">OSCON</a> and I'm an avid open source fan and contributer on <a href="http://github.com/oscargodson">GitHub</a>.
  </p>
    <li><a href="/about">Contact</a></li>
  </ol>
</nav>