<nav id="og-recent-posts">
  <h2>Recent Posts</h2>
  <ol></ol>
</nav>
<script>
  //Should be in a module soon
  $.get('/',function(data){
    $('.from-here li',data).each(function(i){
      if(i == 5){ return false; }
      $('#og-recent-posts ol').append($(this)).find('img').remove();
    });
  });
</script>