<!DOCTYPE html>
<html>
  <head>
    <title>OscarGodson.js | {{ page.title }}</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/monokai.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-4491651-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
  </head>
  <body>

    {% include header.html %}
    <div id="wrapper">
      <article class="content">
        {{content}}
      </article>
      {% include footer.html %}
    </div>
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>
      $('pre').each(function (i, e) {
        hljs.highlightBlock(e);
      });
    </script>
  </body>
</html>
