<!DOCTYPE html>
<html>
  <head>
    <title>OscarGodson.js | {{ page.title }}</title>
    <link href="/css/main.css" rel="stylesheet">
    <!--<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-4491651-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>-->
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          {% include header.html %}
        </header>
        <div class="left-col">
          <article id="content">
            {{content}}
          </article>
        </div>
        <div class="right-col">
          {% include sidebar.html %}
        </div>
        <br class="clear">
         <footer>
          {% include footer.html %}
        </footer>
      </div>
    </div>
    <script src="/js/libs/libs.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>