<!DOCTYPE html>
<html>
  <head>
    <title>OscarGodson.js | {{ page.title }}</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/monokai.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-4491651-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    <script>
     /**
      * Because i suck:
      * these are aliases that will forward old article hash-bang URLs to my new URLs
      * Delete once incoming links using the old URL pattern cease or get to a very low %
      */
      (function(){
        if(window.location.href.indexOf('#!/') > 0){
          var oldId = window.location.href.split('/')[5]
          ,   forwards = {
                83285686:'/posts/online-privacy-is-a-myth.html',
                66730159:'/posts/unmasking-jsonp.html',
                55075016:'/posts/writing-eloquent-javascript-without-coffeescript.html',
                58912483:'/posts/5-terminal-shortcuts-you-wish-you-knew-years-ago.html',
                61720793:'/posts/spotify-vs-rdio.html',
                60168727:'/posts/google+-vs-twitter-vs-facebook.html',
                59577754:'/posts/dont-be-a-hero-let-me-pick-my-own-fucking-password.html',
                57943522:'/posts/making-vimeo-videos-bigger-than-500px-on-tumblr.html',
                54543724:'/posts/new-file-in-right-click-context-menu-for-mac.html',
                51067522:'/posts/dear-paul-rouget-ie9-is-a-modern-browser.html',
                48906955:'/posts/dont-reinvent-the-wheel.html',
                39445734:'/posts/the-apple-of-my-eye.html',
                36698908:'/posts/why-localstorage-has-already-failed-us.html'
             };
          window.location = forwards[oldId];
        }
      })();
    </script>
  </head>
  <body>

    {% include header.html %}
    <div id="wrapper">
      <article class="content">
        {{content}}
      </article>
    </div>
    {% include footer.html %}
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>
      $('pre').each(function (i, e) {
        hljs.highlightBlock(e);
      });
    </script>
  </body>
</html>
